<!DOCTYPE html>
<html>
  <head></head>  
  <body>
    <p>You have received an email from contact form.</p>
    <p>From: <%= "#{ @name }, #{ @email }" %></p>
    <p>Message: <%= "#{ @body }" %></p>
  </body>
</html>